body
{
	padding-left: 200px;
	padding-right: 200px;
	background-color: #fff59d;
}

h1
{
	color:red;
	font-family: helvetica;
	font-weight: 100;
	font-size: 100;
}

p1
{
	padding-top: 200px;
	/*font-size:18px;*/
	font-family: helvetica;
	font-weight: lighter;	
	line-height: 25px;

}
p2
{
	padding-top: 200px;
	/*font-size:18px;*/
	font-family: helvetica;
	font-weight: lighter;
}